streamlit
pandas
scikit-learn
opencv-python-headless
mediapipe
numpy
speechrecognition
Pillow
pytesseract
gTTS
seaborn
matplotlib
googletrans==4.0.0rc1
python-docx
python-pptx
PyPDF2
streamlit-option-menu
moviepy
torch
textblob
transformers
